.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#pengajar {
  background-color: #e2edff;
}

#lokasi {
  background-color: #e2edff;
}

#end {
  background-color: #0d6efd;
}

.pertama {
  color: #0062ff;
}

.kedua {
  color: #00b909;
}

.akhir {
  background-color: #002d70;
}

section {
  padding-top: 5rem;
}

.nav-tabs .nav-link.active {
  background-color: #0062ff;
  color: #fff;
  border: 3px solid #0062ff;
}

.nav-tabs .nav-link {
  background-color: #fff;
  color: #0062ff;
  border: 3px solid #0062ff;
}

.nav-tabs .nav-link:hover {
  border: 3px solid #0062ff;
}

.nav-tabs {
  border-bottom: 1px solid #0062ff;
}

.tab-content {
  border: 1px solid #0062ff;
  padding: 20px;
}

#hide {
  background-color: #002d70;
}

#kuisioner {
  background-color: rgba(243, 106, 62, 1);
  opacity: 0.9;
  border-radius: 1rem;
}

#biodata {
  background-image: url("img/edu.svg");
}

#resume {
  background-color: rgb(62, 243, 131);
  opacity: 0.9;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#resume1 {
  background-color: rgb(62, 243, 131);
  opacity: 0.9;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
